{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_resolution') }}" method=post class=add-resolution>
      <dl>
        <dt>Titel:
        <dd><input type=text size=30 name=title>
        <dt>Art (Beschluss, Resolution etc.):
        <dd><input type=text size=30 name=kind id=input_kind>
        <dt>Wann beschlossen? (SoSe 2012, WiSe 1969, etc.):
        <dd><input type=text size=30 name=passed_on id=input_passed_on>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Link zum ZaPF-Wiki (optional):
        <dd><input type=text size=30 name=wiki_url>
          <dt>Zugehörige Datei (optional):
        <dd><input type=text size=30 name=related_file>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=resolutions>
  {% for resolution in resolutions %}
      <li>
      <div class=resolution>
      <div class=kind>{{ resolution.kind }}</div>
      <div class=passed_on>Verabschiedet auf der {{ resolution.passed_on }}</div>
      {% if resolution.wiki_url %}<div class=wiki_url><a href={{ resolution.wiki_url }}>Link zum ZaPF-Wiki</a></div>{% endif %}
      {% if resolution.related_file %}<div class=related_file>{{ resolution.related_file }}</div>{% endif %}
      <h2>{{ resolution.title }}</h2>
      <p>{{ resolution.text|safe }}</p>
    </div>
  {% else %}
    <li><em>Unglaublich – noch keine Beschlüsse oder Resolutionen verabschiedet.</em>
  {% endfor %}
  </ul>
{% endblock %}
{% block js %}
  {% if session.logged_in %}
    <script>
      $(function() {
        $.getJSON('/api/autocomplete', function(acdata) {
          $( "#input_kind" ).autocomplete({ source: acdata.kind, minLength: 0, delay: 0 });
          $( "#input_passed_on" ).autocomplete({ source: acdata.passed_on, minLength: 0, delay: 0 });
        });
      });
    </script>
  {% endif %}
{% endblock %}
